* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
}

/* NAVBAR START */
nav {
  background-color: #ffffff;
  box-shadow: 0 0 15px rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 0;
  z-index: 9999;
}

.container {
  padding: 0 5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #000000;
}

span {
  color: red;
}

.menu:after {
  content: "\2261";
  display: none;
}

.list-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 17rem;
}

.list-container {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

li > a {
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
}

li > a:hover {
  color: red;
}

.form {
  display: flex;
}

.btn {
  padding: 6px;
  border: 0;
  width: 100px;
  background-color: red;
  color: #ffffff;
  margin: 0 0 0 10px;
  cursor: pointer;
  border-radius: 14px;
  
}

.btn:hover {
  opacity: 0.5;
}

.black {
  background-color: #000000;
}

/* NAVBAR END */

/* Hero-Section start */
header {
  width: 100%;
  height: 650px;
  border: 2px solid;
  background-image: url(workspace-1280538_1920.jpg);
  background-size: cover;
  background-position: center;
  margin: 2rem 0;
}

.header-container {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
}

.hero-content {
  display: grid;
  place-content: center;
  align-content: center;
  padding: 13rem 0;
}

.hero-section {
  width: 500px;
  text-align: center;
  display: none;
}

.hero-header {
  font-size: 2.5rem;
  margin: 0 0 10px;
  color: #ffffff;
}

.hero-subheader {
  margin: 0 0 15px;
  color: #ffffff;
}

.btn3 {
  width: 150px;
  padding: 8px;
  border: 0;
  background-color: orangered;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
  opacity: 0.6;
}

.btn3:hover {
  opacity: 0.5;
}
/* Hero-Section end */

/* About section start */

.about-us {
  text-align: center;
  font-size: 1.7rem;
  color: gray;
  margin: 0 0 10px 0;
}

.items {
  margin: 15px 0;
  width: 400px;
  padding: 20px;
  border-radius: 20px;
}

.about-section {
  display: flex;
  align-items: center;
  gap: 60px;
}

.about-header,
.subheader {
  margin: 0 0 10px;
}

.btn4 {
  width: 130px;
  padding: 6px;
  border: 0;
  background-color: #000000;
  color: #ffffff;
  margin: 0 0 10px;
  cursor: pointer;
}

.btn4:hover {
  opacity: 0.5;
}
/* About section end */

/* Responsive Design Start */
@media (max-width: 600px) {
  /* RESONSIVE NAVBAR START */
  .navbar {
    display: block;
  }

  .container {
    padding: 0;
  }

  .logo-menu {
    padding: 0 20px;
  }

  .menu:after {
    display: block;
    cursor: pointer;
  }

  .list-form {
    display: none;
    background-color: #000000;
    height: 100vh;
    padding: 40px 0;
    margin: 10px 0;
  }

  .class {
    display: block;
    text-align: center;
  }

  .list-container {
    display: block;
    text-align: center;
    line-height: 60px;
  }

  li > a {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2.3rem;
  }

  .form {
    display: grid;
    place-content: center;
  }

  .btn {
    margin: 0 0 10px;
    text-align: center;
    padding: 10px;
    width: 200px;
    font-size: 2rem;
  }

  .black {
    background-color: #ff9340;
  }
  /* RESONSIVE NAVBAR END */

  /* RESPONSIVE HERO-SECTION START */
  .hero-section {
    width: 100%;
    padding: 0 30px;
    display: block;
  }

  .hero-content {
    padding: 10rem 0;
  }

  .hero-header {
    font-size: 1.8rem;
  }
  /* RESPONSIVE HERO-SECTION END */

  /* RESPONSIVE ABOUT-SECTION */
  .about-us {
    font-size: 1.5rem;
    text-align: left;
    padding: 0 0 0 20px;
  }

  .about-section {
    display: block;
  }

  .items {
    width: 340px;
    padding: 5px 0;
    padding: 0 0 0 20px;
  }

  /* CONTACT SECTION */
  section {
    padding: 10px 20px 20px 20px;
  }

  .contact-container {
    width: 100%;
  }

  .contact {
    margin: 0 0 8px;
    color: red;
  }

  #email,#password {
    width: 100%;
    margin: 6px 0;
    padding: 4px;
  }

  textarea {
    width: 100%;
    margin: 6px 0;
    padding: 20px;
  }

  .btn2 {
    width: 100%;
    margin: 6px 0;
    padding: 5px;
    /* border-radius: 10px; */
    border: 0;
    color: #ffffff;
    background-color: #000000;
    font-size: 1.1rem;
  }
}
